<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="id" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Vehicle_form_edit" 
        service="Vehicle" 
        entity="Vehicle" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-integer-input #id attr="id" label=" id*" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-text-input #make attr="make" label="make" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #model attr="model" label="model" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #year attr="year" label="year" type="integer" editable="no" required="yes" ></o-integer-input>
      
      <o-text-input #price attr="price" label="price" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="INSURANCE-vehicle_id">
    <div layout-padding>
      <o-table 
        attr="InsuranceTable" 
        service="Insurance" 
        entity="Insurance" 
        keys="id"
        parent-keys="vehicle_id:id"
        columns="provider_name;vehicle_id;insurance_start_date;insurance_end_date;id"  
        horizontal-scroll="yes"
        detail-form-route="Insurance" 
        edit-form-route="Insurance"
        visible-columns="provider_name;vehicle_id;insurance_start_date;insurance_end_date;id"  
        sort-columns="provider_name" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #provider_name attr="provider_name" title=" provider_name*" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="vehicle_id" title="vehicle_id">
    <o-table-cell-renderer-service attr="vehicle_id" 
        service="Vehicle" entity="VehicleType" columns="id;id"
        parent-keys="id:vehicle_id"
        value-column="id" keys="vehicle_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #insurance_start_date attr="insurance_start_date" type="timestamp" label="insurance_start_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-date-input #insurance_end_date attr="insurance_end_date" type="timestamp" label="insurance_end_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="INVENTORY-vehicle_id">
    <div layout-padding>
      <o-table 
        attr="InventoryTable" 
        service="Inventory" 
        entity="Inventory" 
        keys="id"
        parent-keys="vehicle_id:id"
        columns="id;supplier_id;vehicle_id;quantity"  
        horizontal-scroll="yes"
        detail-form-route="Inventory" 
        edit-form-route="Inventory"
        visible-columns="id;supplier_id;vehicle_id;quantity"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="supplier_id" title="supplier_id">
    <o-table-cell-renderer-service attr="supplier_id" 
        service="Supplier" entity="SupplierType" columns="id;name"
        parent-keys="id:supplier_id"
        value-column="name" keys="supplier_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="vehicle_id" title="vehicle_id">
    <o-table-cell-renderer-service attr="vehicle_id" 
        service="Vehicle" entity="VehicleType" columns="id;id"
        parent-keys="id:vehicle_id"
        value-column="id" keys="vehicle_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #quantity attr="quantity" title="quantity" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="SALE-vehicle_id">
    <div layout-padding>
      <o-table 
        attr="SaleTable" 
        service="Sale" 
        entity="Sale" 
        keys="id"
        parent-keys="vehicle_id:id"
        columns="id;customer_id;salesperson_id;vehicle_id;sale_date;sale_price"  
        horizontal-scroll="yes"
        detail-form-route="Sale" 
        edit-form-route="Sale"
        visible-columns="id;customer_id;salesperson_id;vehicle_id;sale_date;sale_price"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="customer_id" title="customer_id">
    <o-table-cell-renderer-service attr="customer_id" 
        service="Customer" entity="CustomerType" columns="id;first_name"
        parent-keys="id:customer_id"
        value-column="first_name" keys="customer_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="salesperson_id" title="salesperson_id">
    <o-table-cell-renderer-service attr="salesperson_id" 
        service="Salesperson" entity="SalespersonType" columns="id;first_name"
        parent-keys="id:salesperson_id"
        value-column="first_name" keys="salesperson_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="vehicle_id" title="vehicle_id">
    <o-table-cell-renderer-service attr="vehicle_id" 
        service="Vehicle" entity="VehicleType" columns="id;id"
        parent-keys="id:vehicle_id"
        value-column="id" keys="vehicle_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #sale_date attr="sale_date" type="timestamp" label="sale_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-table-column #sale_price attr="sale_price" title="sale_price" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="SERVICEAPPOINTMENT-vehicle_id">
    <div layout-padding>
      <o-table 
        attr="ServiceAppointmentTable" 
        service="ServiceAppointment" 
        entity="ServiceAppointment" 
        keys="id"
        parent-keys="vehicle_id:id"
        columns="id;customer_id;vehicle_id;appointment_date;service_notes"  
        horizontal-scroll="yes"
        detail-form-route="ServiceAppointment" 
        edit-form-route="ServiceAppointment"
        visible-columns="id;customer_id;vehicle_id;appointment_date;service_notes"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="customer_id" title="customer_id">
    <o-table-cell-renderer-service attr="customer_id" 
        service="Customer" entity="CustomerType" columns="id;first_name"
        parent-keys="id:customer_id"
        value-column="first_name" keys="customer_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="vehicle_id" title="vehicle_id">
    <o-table-cell-renderer-service attr="vehicle_id" 
        service="Vehicle" entity="VehicleType" columns="id;id"
        parent-keys="id:vehicle_id"
        value-column="id" keys="vehicle_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #appointment_date attr="appointment_date" type="timestamp" label="appointment_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-table-column #service_notes attr="service_notes" title="service_notes" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WARRANTY-vehicle_id">
    <div layout-padding>
      <o-table 
        attr="WarrantyTable" 
        service="Warranty" 
        entity="Warranty" 
        keys="id"
        parent-keys="vehicle_id:id"
        columns="id;vehicle_id;warranty_start_date;warranty_end_date"  
        horizontal-scroll="yes"
        detail-form-route="Warranty" 
        edit-form-route="Warranty"
        visible-columns="id;vehicle_id;warranty_start_date;warranty_end_date"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="vehicle_id" title="vehicle_id">
    <o-table-cell-renderer-service attr="vehicle_id" 
        service="Vehicle" entity="VehicleType" columns="id;id"
        parent-keys="id:vehicle_id"
        value-column="id" keys="vehicle_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #warranty_start_date attr="warranty_start_date" type="timestamp" label="warranty_start_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-date-input #warranty_end_date attr="warranty_end_date" type="timestamp" label="warranty_end_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>