<o-form-layout-manager attr="Warranty" mode="tab" title="WARRANTY">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="WarrantyTable" 
            service="Warranty" 
            entity="Warranty" 
            title="WARRANTY"
            keys="id"
            columns="id;vehicle_id;warranty_start_date;warranty_end_date" 
            header-actions="R;D"
            visible-columns="id;vehicle_id;warranty_start_date;warranty_end_date"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="vehicle_id" title="vehicle_id">
    <o-table-cell-renderer-service attr="vehicle_id" 
        service="Vehicle" entity="VehicleType" columns="id;id"
        parent-keys="id:vehicle_id"
        value-column="id" keys="vehicle_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #warranty_start_date attr="warranty_start_date" type="timestamp" label="warranty_start_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-date-input #warranty_end_date attr="warranty_end_date" type="timestamp" label="warranty_end_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>